body {
  background: url(../img/bg-01.png) repeat;
}

#wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.masthead .container {
  width: 100%;
  background-color: transparent;
}
body.img-1,
body.img-2{
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:100% auto;
}
body.img-1{
  background-image: url(../img/bg_1.jpg);
}
body.img-2{
  background-image: url(../img/bg_2.jpg);
}
body .site-content {
  background-color: transparent;
  padding: 0;
}
body .site-content > .container {
  background-color: #fff;
  padding-top: 30px;
}
body .site-content .hero-image {
  width: 90%;
  margin-top: -1px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
body .footer {
  margin-top: 0;
}
.footer .container {
  width: 100%;
}

body .site-content .hero-image {
    width: 100%;
}

@media only screen and (max-width: 767px) {
  #wrapper {
    max-width: 100%;
  }
  .masthead .container,
  .footer .container, 
  body .site-content > .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  #wrapper {
    max-width: 970px;   
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  #wrapper {
    max-width: 750px;   
  }
}
